/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto Medium';
	src: url("/fonts/Roboto-Medium.ttf") format('truetype');
}

body {
    @apply bg-surface-200 dark:bg-surface-900;
    font-family: "Roboto Medium", serif;
}